<h1>Hello ruby!</h1>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<form action="index.html" method="get">
  Login: <input type="text" name="login"><br>
  Haslo: <input type="text" name="pass"><br>
  <input type="submit" value="Wyslij">
</form>
