<h1>Listing partner_projects</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partner_projects.each do |partner_project| %>
  <tr>
    <td><%= link_to 'Show', partner_project %></td>
    <td><%= link_to 'Edit', edit_partner_project_path(partner_project) %></td>
    <td><%= link_to 'Destroy', partner_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner project', new_partner_project_path %>
