/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#SlideMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: Arial;
   font-size: 13px;
}
#SlideMenu1 li
{
   cursor: pointer;
}
#SlideMenu1 li div
{
   margin: 0px 0px 0px 0px;
   padding: 2px 2px 2px 5px;
   background-color: #A0A0A0;
   border-style: solid;
   border-width: 1px;
   border-color: #A0A0A0;
   position: relative;
   left: 0;
   top: 0;
   width: 182px;
}
#SlideMenu1 li div:hover
{
   background-color: #666666;
   border-style: solid;
   border-width: 1px;
   border-color: #666666;
}
#SlideMenu1 li a
{
   color: #EEEEEE;
   font-weight: normal;
   text-decoration: none;
}
#SlideMenu1 li a:hover
{
   color: #EEEEEE;
   font-weight: normal;
   text-decoration: none;
}
#SlideMenu1 li li
{
   cursor: auto;
   padding: 2px 2px 2px 5px;
   margin: 1px 0px 1px 0px;
   background-color: #EEEEEE;
   border-style: solid;
   border-width: 1px;
   border-color: #C0C0C0;
}
#SlideMenu1 li li a
{
   color: #666666;
   font-weight: normal;
   text-decoration: none;
}
#SlideMenu1 li li:hover
{
   background-color: #C0C0C0;
   border-style: solid;
   border-width: 1px;
   border-color: #C0C0C0;
}
#SlideMenu1 li li a:hover
{
   color: #666666;
   font-weight: normal;
   text-decoration: none;
}
