
div#container
{
   width: 994px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
body
{
   text-align: center;
   margin: 0;
   background-color: #FFFFFF;
   color: #000000;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#SlideMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: Arial;
   font-size: 13px;
}
#SlideMenu1 li
{
   cursor: pointer;
}
#SlideMenu1 li div
{
   margin: 0px 0px 0px 0px;
   padding: 2px 2px 2px 5px;
   background-color: #A0A0A0;
   border-style: solid;
   border-width: 1px;
   border-color: #A0A0A0;
   position: relative;
   left: 0;
   top: 0;
   width: 182px;
}
#SlideMenu1 li div:hover
{
   background-color: #666666;
   border-style: solid;
   border-width: 1px;
   border-color: #666666;
}
#SlideMenu1 li a
{
   color: #EEEEEE;
   font-weight: normal;
   text-decoration: none;
}
#SlideMenu1 li a:hover
{
   color: #EEEEEE;
   font-weight: normal;
   text-decoration: none;
}
#SlideMenu1 li li
{
   cursor: auto;
   padding: 2px 2px 2px 5px;
   margin: 1px 0px 1px 0px;
   background-color: #EEEEEE;
   border-style: solid;
   border-width: 1px;
   border-color: #C0C0C0;
}
#SlideMenu1 li li a
{
   color: #666666;
   font-weight: normal;
   text-decoration: none;
}
#SlideMenu1 li li:hover
{
   background-color: #C0C0C0;
   border-style: solid;
   border-width: 1px;
   border-color: #C0C0C0;
}
#SlideMenu1 li li a:hover
{
   color: #666666;
   font-weight: normal;
   text-decoration: none;
}
#wb_Carousel1
{
   background-color: transparent;
}
#Carousel1 .frame
{
   width: 415px;
   display: inline-block;
   float: left;
   height: 308px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 415px;
   z-index: 999;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#GoMenu1_combobox, #GoMenu1_button
{
   border: 1px #C0C0C0 solid;
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_TextMenu1
{
   color :#000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_TextMenu1 span
{
   margin: 0px 4px 0px 0px;
}
#Image1
{
   border: 0px #000000 solid;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
}
#wb_Text2 div
{
   text-align: left;
}
#InlineFrame1
{
   border: 1px #C0C0C0 solid;
}
#Button1
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_loginform
{
   background-color: #EEEEEE;
   border: 1px #878787 solid;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
}
#wb_Text3 div
{
   text-align: right;
}
#username
{
   border: 1px #878787 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
}
#wb_Text4 div
{
   text-align: right;
}
#password
{
   border: 1px #878787 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#login
{
   border: 1px #878787 solid;
   background-color: #FFFFFF;
   color: #666666;
   font-family: Arial;
   font-size: 13px;
}
